body
    background-color: black

.app-exterior
    padding-left: 20px
    padding-bottom: 20px
    background-color: white

.pageTitle
    text-align: center

.gamingBoard
    border: 5px solid black
    font-family: Courier, monospace

    td:first-child
        padding-left: 5px
    td
        padding-left: 5px
    td:last-child
        padding-right: 5px

.stats
    margin-top: 10px
